<div class="alert
            alert-{{message.type}}
            text-center"
     *ngIf="message.text"
>
    {{ message.text }}
</div>
<p class="text-center text-info">
    Введите счет в поле ниже и нажмите "Enter". Теперь на странице "Запись" вы можете создать категории !
</p>
<div class="row">
    <div class="form-group">
        <div class="col-xs-6 col-xs-offset-3">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input
                        type="number"
                        class="form-control"
                        placeholder="&nbsp;&nbsp;Счет"
                        value=""
                        [(ngModel)]="bill"
                        formControlName="bill"
                >
                <button class="btn btn-block btn-primary m-t-1"
                >
                    Добавить счет
                </button>
            </form>
        </div>
    </div>
</div>
