<div class="title-block">
    <h3 class="title pull-left">
        Страница счета <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>
<section class="section">
    <div class="row text-center" *ngIf="!isLoaded">Loading...</div>
    <div class="row" *ngIf="isLoaded">
        <aks-calc-card
                (calc)="eventCalcEvent($event)"
        >
        </aks-calc-card>

        <aks-bill-card [currencyRub]="currencyRub"
                       [currencyDollar]="currencyDollar"
                       [currencyEuro]="currencyEuro"
                       [calc]="calc"
        ></aks-bill-card>
        <aks-currency-card [currencyRub]="currencyRub"
                           [currencyDollar]="currencyDollar"
                           [currencyEuro]="currencyEuro"
                           [calc]="calc"
        ></aks-currency-card>


    </div>
</section>